/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f6f6f6;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: #d4af37; /* Changed color to d4af37 */
}

h2 {
  margin-top: 20px;
  color: #d4af37; /* Changed color to d4af37 */
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #d4af37; /* Changed color to d4af37 */
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #d4af37; /* Changed color to d4af37 */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#generatedSignature {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.guide {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* ... (continue with other styles) */

@media (max-width: 500px) {
  .container {
      max-width: 100%;
      padding: 10px;
  }
}

.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"]:hover,
input[type="email"]:hover,
button:hover {
  background-color: rgba(212, 175, 55, 0.5); /* Adjusted hover color to a translucent gold */
}

input[type="text"]:focus,
input[type="email"]:focus,
button:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #b38e28; /* Adjusted hover color to a darker shade of gold */
}

